# Common Series Operations

Let's go ahead and import Pandas and import some data:

In [14]:
import pandas as pd

rows = [
['Aberdeen Township', 18150, 19, 0, 13, 6],
['Absecon', 8380, 21, 0, 4, 15],
['Allendale', 6712, 0, 0, 0, 0],
['Allenhurst', 493, 0, 0, 0, 0],
['Allentown', 1812, 3, 0, 0, 3],
['Alpine', 2314, 1, 0, 0, 1],
['Andover Township', 6273, 1, 0, 0, 1],
]
df = pd.DataFrame.from_records(rows, columns=['City', 'Population', 'Violent Crimes', 'Murders', 'Roberies', 'Aggrevated Assaults'])

df

,City,Population,Violent Crimes,Murders,Roberies,Aggrevated Assaults
0,Aberdeen Township,18150,19,0,13,6
1,Absecon,8380,21,0,4,15
2,Allendale,6712,0,0,0,0
3,Allenhurst,493,0,0,0,0
4,Allentown,1812,3,0,0,3
5,Alpine,2314,1,0,0,1
6,Andover Township,6273,1,0,0,1

Like in our slide, we're going to select a series:

In [2]:
population_series = df['Population']

population_series

0    18150
1     8380
2     6712
3      493
4     1812
5     2314
6     6273
Name: Population, dtype: int64

We're going to demonstrate a few of the basic things Pandas can do with a `Series`.
======

A complete list can be found [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html).

### Some Basic Math

In [3]:
population_series.sum()

44134

In [4]:
population_series.count()

7

### Some Simple Stat Functions Involving a Second Series

In [5]:
population_series.corr(df['Violent Crimes'])

0.748984035175458

In [6]:
population_series.cov(df['Violent Crimes'])

41855.73809523809

In [7]:
population_series.cumsum()

0    18150
1    26530
2    33242
3    33735
4    35547
5    37861
6    44134
Name: Population, dtype: int64

### Some Simple Filtering

In [8]:
population_series > 5000

0     True
1     True
2     True
3    False
4    False
5    False
6     True
Name: Population, dtype: bool

In [9]:
population_series[population_series > 5000]

0    18150
1     8380
2     6712
6     6273
Name: Population, dtype: int64

In [10]:
population_series.where(lambda x: x > 5000)

0    18150.0
1     8380.0
2     6712.0
3        NaN
4        NaN
5        NaN
6     6273.0
Name: Population, dtype: float64

In [11]:
population_series.where(lambda x: x > 5000).dropna()

0    18150.0
1     8380.0
2     6712.0
6     6273.0
Name: Population, dtype: float64

### Operations Between Series

In [12]:
totals_series = df['Murders'] + df['Roberies'] + df['Aggrevated Assaults']

totals_series

0    19
1    19
2     0
3     0
4     3
5     1
6     1
dtype: int64